.header{
  height: 60px;
  background: #FFDB19;
}

.menu-option{
  float:left;
  padding: 10px 30px;
  color: black;
  font-size: 24px;
  height: 100%;
  font-weight: bold;
}

.menu-option:hover{
  background: black;
  color: white;
  cursor: pointer;
}

.menu-option-logout{
  float:right;
  padding: 10px 30px;
  color: black;
  font-size: 24px;
  height: 100%;
  font-weight: bold;
}

.menu-option-logout:hover{
  background: black;
  color: white;
  cursor: pointer;
}
